body {
  background-color: #EAF6F6;
}
h1 {
  color: #24A19C
}

h3 {
  color: #24A19C
}

hr {
  height: 0px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 5%;
}
.circular{
  border-radius: 100%
}
img:hover{
  background-color: gold;
}
